<?xml version='1.0'?>

<?include $(sys.CURRENTDIR)\config.wxs ?>

<?if $(var.Architecture) = "x86" ?>
    <?define IsWin64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define PTLibName = "PTLib" ?>
    <?define OPALName  = "OPAL" ?>
<?else?>
    <?define IsWin64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define PTLibName = "PTLib64" ?>
    <?define OPALName  = "OPAL64" ?>
<?endif?>

<?ifdef WxDir ?>
    <?if $(var.WxCustom) = "yes" ?>
        <?if $(var.Architecture) = "x86" ?>
            <?define WxPlatform  = "_custom" ?>
            <?define WxDllDir = "$(var.WxDir)\lib\vc_dll" ?>
        <?else?>
            <?define WxPlatform  = "_$(var.Architecture)_custom" ?>
            <?define WxDllDir = "$(var.WxDir)\lib\vc_$(var.Architecture)_dll" ?>
        <?endif?>
    <?else?>
        <?if $(var.Architecture) = "x86" ?>
            <?define WxPlatform  = "$(var.MSVCRT_VER)" ?>
        <?else?>
            <?define WxPlatform  = "$(var.MSVCRT_VER)_$(var.Architecture)" ?>
        <?endif?>
        <?define WxDllDir = "$(var.WxDir)\lib\vc$(var.WxPlatform)_dll" ?>
    <?endif?>
<?endif?>

<?define PluginReleaseDir = "$(var.OPALDir)\bin\plugins\$(var.Platform)\Release" ?>


<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product Name='$(var.ProductName)'
             Language='1033'
             Version='$(var.ProductVersion)'
             Manufacturer='$(var.ProductManufacturer)'
             Id='*'
             UpgradeCode='$(var.ProductGUID)'>
        <Package Description='$(var.ProductName)'
                 Comments='$(var.Platform) $(var.ProductDescription), Version $(var.ProductVersion)'
                 Manufacturer='$(var.ProductManufacturer)'
                 Platform="$(var.Architecture)"
                 InstallScope="perMachine"
                 InstallerVersion='405'
                 Compressed='yes' />

        <MajorUpgrade AllowSameVersionUpgrades='yes'
                      DowngradeErrorMessage='A newer version of $(var.ProductName) is already installed.' />

        <Media Id='1'
               Cabinet='$(var.ProductBaseFilename).cab'
               EmbedCab='yes'
               DiskPrompt='CD-ROM #1' />

        <Property Id='DiskPrompt'
                  Value="$(var.ProductName) $(var.ProductVersion) Installation [1]" />
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="RegistrySearch"
                            Type="raw"
                            Root="HKLM"
                            Win64="$(var.IsWin64)"
                            Key="Software\$(var.ProductManufacturer)\$(var.ProductName)"
                            Name="InstallDir" />
        </Property>
        <Property Id="WIXUI_INSTALLDIR"
                  Value="INSTALLDIR" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.OPALDir)\src\win32\InstallerLicense.rtf" />
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <Directory Id='TARGETDIR'
                   DiskId='1'
                   Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)'>
                <Directory Id='VoxLucida'
                           Name='Vox Lucida'>
                    <Directory Id='INSTALLDIR'
                               Name='$(var.ProductName)'>
                        <Component Id='MainExecutable'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='$(var.ProductBaseFilename).exe'
                                  Source='$(var.OPALDir)\bin\$(var.ProductName)\$(var.Platform)\Release\$(var.ProductBaseFilename).exe'
                                  KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='G.722.2'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='G_722_2_DLL'
                                  Name='g7222_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\g7222_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='GSM_AMR'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='GSM_AMR_DLL'
                                  Name='gsmamr_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\gsmamr_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='H.264'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='H264'
                                  Name='openH264_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\openH264_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='openH264'
                                  Win64="$(var.IsWin64)"
                                  Guid='*'>
                            <File Id='openH264_DLL'
                                  Name='openh264_$(var.Architecture).dll'
                                  Source='$(var.OpenH264Dir)\openh264_$(var.Architecture).dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='G.722'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='G_722_DLL'
                                  Name='g722_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\g722_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='G.722.1'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='G_722_1_DLL'
                                  Name='g7221_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\g7221_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='G.726'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='G_726_DLL'
                                  Name='g726_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\g726_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='GSM0610'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='GSM0610_DLL'
                                  Name='gsm0610_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\gsm0610_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='iLBC'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='iLBC_DLL'
                                  Name='iLBC_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\iLBC_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='iSAC'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='iSAC_DLL'
                                  Name='iSAC_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\iSAC_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='Opus'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='Opus_DLL'
                                  Name='opus_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\opus_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='Speex'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='Speex_DLL'
                                  Name='speex_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\speex_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='H.261'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='H.261_DLL'
                                  Name='h261_vic_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\h261_vic_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <?ifdef FFMPEGDir ?>
                            <Component Id='H.263'
                                      Win64="$(var.IsWin64)"
                                      Guid='*'>
                                <File Id='H.263_DLL'
                                      Name='h263_ffmpeg_ptplugin.dll'
                                      Source='$(var.PluginReleaseDir)\h263_ffmpeg_ptplugin.dll'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='MPEG4'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='MPEG4_DLL'
                                      Name='mpeg4_ffmpeg_ptplugin.dll'
                                      Source='$(var.PluginReleaseDir)\mpeg4_ffmpeg_ptplugin.dll'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='AVFORMAT'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='AVFORMAT_DLL'
                                      Name='AVFORMAT-$(var.AVFORMATVer).DLL'
                                      Source='$(var.FFMPEGDir)\AVFORMAT-$(var.AVFORMATVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='AVCODEC'
                                      Win64="$(var.IsWin64)"
                                      Guid='*'>
                                <File Id='AVCODEC_DLL'
                                      Name='AVCODEC-$(var.AVCODECVer).DLL'
                                      Source='$(var.FFMPEGDir)\AVCODEC-$(var.AVCODECVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='AVUTIL'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='AVUTIL_DLL'
                                      Name='AVUTIL-$(var.AVUTILVer).DLL'
                                      Source='$(var.FFMPEGDir)\AVUTIL-$(var.AVUTILVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='SWRESAMPLE'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='SWRESAMPLE_DLL'
                                      Name='SWRESAMPLE-$(var.SWRESAMPLEVer).DLL'
                                      Source='$(var.FFMPEGDir)\SWRESAMPLE-$(var.SWRESAMPLEVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='SWSCALE'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='SWSCALE_DLL'
                                      Name='SWSCALE-$(var.SWSCALEVer).DLL'
                                      Source='$(var.FFMPEGDir)\SWSCALE-$(var.SWSCALEVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <Component Id='VP8'
                                  Win64="$(var.IsWin64)"
                                  Guid='*'>
                            <File Id='VP8_DLL'
                                  Name='vp8_webm_ptplugin.dll'
                                  Source='$(var.PluginReleaseDir)\vp8_webm_ptplugin.dll'
                                  KeyPath='yes' />
                        </Component>
                        <?ifdef SpanDspDir ?>
                            <Component Id='SpanDSPFax'
                                      Win64="$(var.IsWin64)"
                                      Guid='*'>
                                <File Id='SpanDSPFax_DLL'
                                      Name='SpanDSPFax_ptplugin.dll'
                                      Source='$(var.PluginReleaseDir)\SpanDSPFax_ptplugin.dll'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='SpanDSPLib'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='SpanDSPLib_DLL'
                                      Name='libspandsp.dll'
                                      Source='$(var.SpanDspDir)\libspandsp.dll'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <Component Id='OPAL'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='OPAL_DLL'
                                  Name='$(var.OPALName).DLL'
                                  Source='$(var.OPALDir)\lib\$(var.OPALName).DLL'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='PTLib'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='PTLib_DLL'
                                  Name='$(var.PTLibName).DLL'
                                  Source='$(var.PTLibDir)\lib\$(var.PTLibName).DLL'
                                  KeyPath='yes' />
                        </Component>
                        <?ifdef ImageMagickDir ?>
                            <Component Id='ImageMagickWand'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_MAGICKWAND_DLL'
                                      Name='CORE_RL_MAGICKWAND_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_MAGICKWAND_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickCore'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_MAGICKCORE_DLL'
                                      Name='CORE_RL_MAGICKCORE_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_MAGICKCORE_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickBZLIB'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_BZLIB_DLL'
                                      Name='CORE_RL_BZLIB_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_BZLIB_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickZLIB'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_ZLIB_DLL'
                                      Name='CORE_RL_ZLIB_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_ZLIB_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickTTF'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_TTF_DLL'
                                      Name='CORE_RL_TTF_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_TTF_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickLCMS'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_LCMS_DLL'
                                      Name='CORE_RL_LCMS_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_LCMS_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickLQR'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_LQR_DLL'
                                      Name='CORE_RL_LQR_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_LQR_.DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='ImageMagickGLIB'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='CORE_RL_GLIB_DLL'
                                      Name='CORE_RL_GLIB_.DLL'
                                      Source='$(var.ImageMagickDir)\CORE_RL_GLIB_.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?ifdef LuaDir ?>
                            <Component Id='Lua'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='Lua_DLL'
                                      Name='LUA53.DLL'
                                      Source='$(var.LuaDir)\LUA53.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?ifdef V8Dir ?>
                            <Component Id='V8_snapshot_blob'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='V8_snapshot_blob_bin'
                                      Name='snapshot_blob.bin'
                                      Source='$(var.V8Dir)\snapshot_blob.bin'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='V8_natives_blob'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='V8_natives_blob_bin'
                                      Name='natives_blob.bin'
                                      Source='$(var.V8Dir)\natives_blob.bin'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?ifdef JPEGDir ?>
                            <Component Id='JPEG'
                                       Guid='*'>
                                <File Id='JPEG_DLL'
                                      Name='JPEG62.DLL'
                                      Source='$(var.JPEGDir)\JPEG62.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?ifdef SaslDir ?>
                            <Component Id='SASL'
                                       Guid='*'>
                                <File Id='SASL_DLL'
                                      Name='LIBSASL.DLL'
                                      Source='$(var.SaslDir)\LIBSASL.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?ifdef LDAPDir ?>
                            <Component Id='OpenLDAP'
                                       Guid='*'>
                                <File Id='OPENLDAP_DLL'
                                      Name='OPENLDAP.DLL'
                                      Source='$(var.LDAPDir)\OPENLDAP.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <Component Id='OpenSSL1'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='LIBEAY32_DLL'
                                  Name='LIBEAY32.DLL'
                                  Source='$(var.SSLDir)\LIBEAY32.DLL'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='OpenSSL2'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='SSLEAY32_DLL'
                                  Name='SSLEAY32.DLL'
                                  Source='$(var.SSLDir)\SSLEAY32.DLL'
                                  KeyPath='yes' />
                        </Component>
                        <?ifdef WxDir ?>
                            <Component Id='WxXRC'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_XRC_DLL'
                                      Name='WXMSW$(var.WxVer)U_XRC_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_XRC_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxHTML'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_HTML_DLL'
                                      Name='WXMSW$(var.WxVer)U_HTML_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_HTML_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxADV'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_ADV_DLL'
                                      Name='WXMSW$(var.WxVer)U_ADV_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_ADV_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxCore'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_CORE_DLL'
                                      Name='WXMSW$(var.WxVer)U_CORE_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_CORE_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxXML'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXBASE$(var.WxVer)U_XML_DLL'
                                      Name='WXBASE$(var.WxVer)U_XML_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXBASE$(var.WxVer)U_XML_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxBase'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXBASE$(var.WxVer)U_DLL'
                                      Name='WXBASE$(var.WxVer)U_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXBASE$(var.WxVer)U_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder"
                        Name="Programs">
                <Directory Id="ApplicationProgramMenuFolder"
                           Name="$(var.ProductName)" />
            </Directory>
        </Directory>

        <?ifndef CustomProgramMenuFolder ?>
            <DirectoryRef Id="ApplicationProgramMenuFolder">
                <Component Id="ApplicationProgramMenuShortcut"
                           Guid="54704C8B-7822-4E06-AC20-26569F5700D1">
                    <Shortcut Id="ApplicationProgramMenuShortcutMain"
                              Name="$(var.ProductName)"
                              Description="Execute $(var.ProductName)"
                              Target="[INSTALLDIR]$(var.ProductBaseFilename).exe"
                              WorkingDirectory="INSTALLDIR"
                              Icon="$(var.ProductBaseFilename).ico"
                              IconIndex="0"/>
                    <RemoveFolder Id='ApplicationProgramMenuFolder'
                                    On='uninstall' />
                    <RegistryValue Root='HKCU'
                                    Key='Software\[Manufacturer]\[ProductName]'
                                    Type='string'
                                    Value=''
                                    KeyPath='yes' />
                </Component>
            </DirectoryRef>
        <?endif?>
        
        <Icon Id="$(var.ProductBaseFilename).ico"
              SourceFile=".\$(var.ProductBaseFilename).ico" />

        <Feature Id='Complete'
                 Title='$(var.ProductName)'
                 Description='Full install'
                 Display='expand'
                 ConfigurableDirectory='INSTALLDIR'
                 Level='1'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='ApplicationProgramMenuShortcut' />
        </Feature>
        
        <?ifdef CustomWXS ?>
            <?include $(var.CustomWXS) ?>
        <?endif?>

        <Feature Id='Codecs'
                 Title="OPAL Codec Plug-ins"
                 Level='1'>
            <ComponentRef Id='G.722.2' />
            <ComponentRef Id='GSM_AMR' />
            <ComponentRef Id='openH264' />
            <ComponentRef Id='G.722' />
            <ComponentRef Id='G.722.1' />
            <ComponentRef Id='G.726' />
            <ComponentRef Id='GSM0610' />
            <ComponentRef Id='iLBC' />
            <ComponentRef Id='iSAC' />
            <ComponentRef Id='Opus' />
            <ComponentRef Id='Speex' />
            <ComponentRef Id='H.261' />
            <?ifdef FFMPEGDir ?>
                <ComponentRef Id='H.263' />
                <ComponentRef Id='H.264' />
                <ComponentRef Id='MPEG4' />
                <ComponentRef Id='AVFORMAT' />
                <ComponentRef Id='AVCODEC' />
                <ComponentRef Id='AVUTIL' />
                <ComponentRef Id='SWRESAMPLE' />
                <ComponentRef Id='SWSCALE' />
            <?endif?>
            <ComponentRef Id='VP8' />
            <?ifdef SpanDspDir ?>
                <ComponentRef Id='SpanDSPFax' />
                <ComponentRef Id='SpanDSPLib' />
            <?endif?>
        </Feature>

        <Feature Id='OPAL'
                 Title="Open Phone Abstraction Library"
                 AllowAdvertise="no"
                 Display="hidden"
                 Level='1'>
            <ComponentRef Id='OPAL' />
            <ComponentRef Id='OpenSSL1' />
            <ComponentRef Id='OpenSSL2' />
        </Feature>

        <Feature Id='PTLib'
                 Title="Portable Tools Library"
                 AllowAdvertise="no"
                 Display="hidden"
                 Level='1'>
            <ComponentRef Id='PTLib' />
            <?ifdef ImageMagickDir ?>
                <ComponentRef Id='ImageMagickWand' />
                <ComponentRef Id='ImageMagickCore' />
                <ComponentRef Id='ImageMagickBZLIB' />
                <ComponentRef Id='ImageMagickZLIB' />
                <ComponentRef Id='ImageMagickTTF' />
                <ComponentRef Id='ImageMagickLCMS' />
                <ComponentRef Id='ImageMagickLQR' />
                <ComponentRef Id='ImageMagickGLIB' />
            <?endif?>
            <?ifdef LuaDir ?>
                <ComponentRef Id='Lua' />
            <?endif?>
            <?ifdef V8Dir ?>
                <ComponentRef Id='V8_snapshot_blob' />
                <ComponentRef Id='V8_natives_blob' />
            <?endif?>
            <?ifdef JPEGDir ?>
                <ComponentRef Id='JPEG' />
            <?endif?>
            <?ifdef SaslDir ?>
                <ComponentRef Id='SASL' />
            <?endif?>
            <?ifdef LDAPDir ?>
                <ComponentRef Id='OpenLDAP' />
            <?endif?>
            <ComponentRef Id='OpenSSL1' />
            <ComponentRef Id='OpenSSL2' />
        </Feature>

        <?ifdef WxDir ?>
            <Feature Id='WxWidgets'
                     Title="wxWidgets library"
                     AllowAdvertise="no"
                     Display="hidden"
                     Level='1'>
                <ComponentRef Id='WxBase' />
                <ComponentRef Id='WxXML' />
                <ComponentRef Id='WxCore' />
                <ComponentRef Id='WxADV' />
                <ComponentRef Id='WxHTML' />
                <ComponentRef Id='WxXRC' />
            </Feature>
        <?endif?>

        <Feature Id="VCRedist"
                 Title="Microsoft C++ Run Time Libraries"
                 AllowAdvertise="no"
                 Display="hidden"
                 Level="1">
            <MergeRef Id="VCRedist"/>
        </Feature>

        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist"
                   SourceFile="$(env.ProgramFiles)\Common Files\Merge Modules\Microsoft_VC$(var.MSVCRT_VER)_CRT_$(var.Architecture).msm"
                   DiskId="1"
                   Language="0"/>
        </DirectoryRef>
    </Product>
</Wix>
